<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MessageServiceSoap" />
                <binding name="MessageServiceSoapBinding">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpsBinding_ICrmService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IMaterieelService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IUrenService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IWorkflowService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.oosterberg.nl/messageservice/messageservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="MessageServiceSoap"
                contract="Sales24.MessageServiceSoap" name="MessageServiceSoap" />
            <endpoint address="https://sys134w10.kraan.lokaal:1337/MessageServiceSoap.svc"
                binding="basicHttpBinding" bindingConfiguration="MessageServiceSoapBinding"
                contract="Sales31.MessageServiceSoap" name="MessageServiceSoap1" />
            <endpoint address="https://wsdev.kraan.com/Rasenprod/CrmService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICrmService"
                contract="YouriWebserviceCrm.ICrmService" name="BasicHttpsBinding_ICrmService" />
            <endpoint address="https://wsdev.kraan.com/Rasenprod/MaterieelService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMaterieelService"
                contract="YouriWebserviceMaterieel.IMaterieelService" name="BasicHttpsBinding_IMaterieelService" />
            <endpoint address="https://wsdev.kraan.com/Rasenprod/UrenService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUrenService"
                contract="YouriWebserviceUren.IUrenService" name="BasicHttpsBinding_IUrenService" />
            <endpoint address="https://wsdev.kraan.com/Rasenprod/WorkflowService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IWorkflowService"
                contract="YouriWebserviceWorkFlow.IWorkflowService" name="BasicHttpsBinding_IWorkflowService" />
        </client>
    </system.serviceModel>
</configuration>