<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MessageServiceSoap" />
                <binding name="MessageServiceSoapBinding">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpsBinding_ICrmService1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IMaterieelBeheerService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IMaterieelService1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IUrenService1">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IWorkflowService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.oosterberg.nl/messageservice/messageservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="MessageServiceSoap"
                contract="Sales24.MessageServiceSoap" name="MessageServiceSoap" />
            <endpoint address="https://sys134w10.kraan.lokaal:1337/MessageServiceSoap.svc"
                binding="basicHttpBinding" bindingConfiguration="MessageServiceSoapBinding"
                contract="Sales31.MessageServiceSoap" name="MessageServiceSoap1" />
            <endpoint address="https://wsdev.kraan.com/kraan2vorm/CrmService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICrmService1"
                contract="CrmWebservice.ICrmService" name="BasicHttpsBinding_ICrmService1" />
            <endpoint address="https://wsdev.kraan.com/kraan2vorm/MaterieelBeheerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMaterieelBeheerService"
                contract="MaterieelBeheerWebservice.IMaterieelBeheerService"
                name="BasicHttpsBinding_IMaterieelBeheerService" />
            <endpoint address="https://wsdev.kraan.com/kraan2vorm/MaterieelService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMaterieelService1"
                contract="MaterieelWebservice.IMaterieelService" name="BasicHttpsBinding_IMaterieelService1" />
            <endpoint address="https://wsdev.kraan.com/kraan2vorm/UrenService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUrenService1"
                contract="UrenWebservice.IUrenService" name="BasicHttpsBinding_IUrenService1" />
            <endpoint address="https://wsdev.kraan.com/kraan2vorm/WorkflowService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IWorkflowService1"
                contract="WorkflowWebservice.IWorkflowService" name="BasicHttpsBinding_IWorkflowService1" />
        </client>
    </system.serviceModel>
</configuration>